@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    user-select: none;
}

span {
    pointer-events: none;
}

p {
    pointer-events: none;
}

.text {
    color: white;
    /* font-family: 'Staatliches', cursive; */
    font-family: "Oswald", sans-serif;
}

.main-title {
    position: absolute;
    font-size: 50px;
    top: 10px;
    left: -100vw;
}

html, 
body {
    height: 100%;
}

body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.74) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}


.container .title {
    margin-left: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.container {
    display: none;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.lateral {
    width: fit-content;
    display: inline-block;
    height: fit-content;
}

.middle {
    position: relative;
    top: 0px;
    width: fit-content;
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 5px;
}

.separator  {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    height: 5px;
    background-color: rgba(175, 175, 175, 0.664);
}

.separator2 {
    width: 65%;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
    height: 5px;
    background-color: rgba(175, 175, 175, 0.664);
}


.list {
    position: relative;
    height: 300px;
    /* width: 265px; */
    width: 165px;
    overflow-y: scroll;
}

.list2 {
    position: relative;
    height: 300px;
    width: 165px;
    overflow-y: scroll;
}



::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.856); 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(158, 158, 158); 
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110); 
}

.element {
    position: relative;
    /* width: 250px; */
    width: 150px;
    height: 60px;
    background-color: rgb(54, 55, 66);
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 12px;
    border-radius: 5px;
    background-size: 410%;
    background-repeat: no-repeat;
    background-position: 32% 49.3%;
}

.half-element {
    width: 150px;
}

.element p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgba(255, 255, 255, 0.664);
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.element-short {
    position: relative;
    width: 125px;
    height: 60px;
    background-color: rgba(54, 55, 66, 0.753);
    border: 3px solid rgba(255, 255, 255, 0.664);
    margin-bottom: 12px;
    border-radius: 5px;
}

.element-short p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgba(255, 255, 255, 0.664);
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.controls {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: rgba(54, 55, 66, 0.753);
    border: 3px solid rgba(255, 255, 255, 0.664);
    border-radius: 3px;
    margin-bottom: 12px;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.664);

}

.controls p {
    position: relative;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.lateral-button {
    width: 60px;
    height: 60px;
    background-color: rgba(54, 55, 66, 0.753);
    border: 3px solid rgba(255, 255, 255, 0.664);
    border-radius: 3px;
    margin-bottom: 12px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.lateral-button span {
    color: rgba(255, 255, 255, 0.664);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}


.close {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(54, 55, 66, 0.753);
    border: 2px solid rgba(255, 255, 255, 0.664);
    border-radius: 3px;
    margin-top: -6px;
}

.close span {
    color: rgba(255, 255, 255, 0.664);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.punto {
    width: 1px;
    height: 1px;
    position: fixed;
}


.selected {
    background-color: rgba(196, 197, 204, 0.74);
    border: 3px solid rgb(0, 255, 242);
    opacity: 1.0;
}

.lateral-selected {
    background-color: rgba(169, 170, 175, 0.74);
    border: 3px solid rgb(0, 255, 242);
}

.bottom-line {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.bottom-line2 {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.controls-apply {
    position: relative;
    width: max-content;
    height: 37px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgba(54, 55, 66, 0.753);
    border: 3px solid rgba(255, 255, 255, 0.664);
    border-radius: 3px;
    margin-bottom: 12px;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    margin-top: 15px;
}

.controls-apply p {
    position: relative;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.left {
    height: 100%;
    display: none;
    margin-left: 5px;
}

.popup-confirm {
    width: 300px;
    height: 140px;
    background-color: red;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(54, 55, 66, 0.651);
    border: 3px solid rgba(255, 255, 255, 0.664);
    border-radius: 5px;
    display: none;
}

.popup-confirm .title {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.controls-confirm {
    position: relative;
    width: 80px;
    height: 25px;
    background-color: rgba(54, 55, 66, 0.753);
    border: 3px solid rgba(255, 255, 255, 0.664);
    border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    padding-left: 5px;
    padding-right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.controls-confirm p {
    position: relative;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


.controls-confirm-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
}

.turn {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 40px;
    background-color: rgb(54, 55, 66);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
}


.turn:hover {
    background-color: rgba(196, 197, 204, 0.74);
    border: 3px solid rgb(0, 255, 242);
}

.turn span {
    font-size: 30px;
    color: white;
}

.turn-left {
    left: 0;
}

.turn-right {
    right: 0;
}

.turn-right span {
    transform: scaleX(-1);
}